.hero-bg {
  height: 1100px;
  width: 100%;
  background-image: url();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-bar {
  height: 100px;
  width: 85%;
  margin: auto;
}
.img-1 {
  border-radius: 15px;
}
.nav-list {
  list-style: none;
  align-items: center;
}
.btn-1 {
  height: 40px;
  width: 150px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
}
.hero-section {
  height: 600px;
  width: 40%;
}
.text-2 {
  font-size: 60px;
}
.text-3 {
  font-size: 20px;
}
.btn-2 {
  height: 45px;
  width: 100px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
}
.btn-3 {
  height: 45px;
  width: 160px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
}
.link-1 {
  height: 100px;
  width: 80%;
  margin: auto;
}
.icon-1 {
  font-size: 80px;
  color: #b59f72;
}
/* <!-- hero and navbar section end --> */
/* <!-- second section start --> */
.second-sec {
  height: 500px;
  width: 100%;
}
.box-1 {
  height: 400px;
  width: 40%;
}
.box-2 {
  height: 400px;
  width: 40%;
}
.text-1 {
  font-size: 60px;
}
.text-4 {
  font-size: 25px;
}
.box-3 {
  height: 100px;
  width: 20%;
}
.third-sec {
  height: 1200px;
  width: 100%;
}
.box-4 {
  height: 300px;
  width: 60%;
  margin: auto;
}
.text-5 {
  font-size: 60px;
}
.text-6 {
  font-size: 20px;
}
.box-5 {
  height: 350px;
  width: 24%;
  border-radius: 8px;
}
.icon-2{
  font-size: 80px;
  
}

